button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 81, 255);
  color: rgb(244, 244, 244);
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
