<div style="font-family: 'Prompt', sans-serif">
  <div>
    <div style="display: grid" *ngFor="let user of users">
      <div
        style="
          display: flex;
          justify-content: space-around;
          align-items: center;
          background-color: rgb(174, 174, 249);
          padding: 1rem;
          margin: 1rem;
          border-radius: 10px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        "
      >
        <h5 style="color: rgb(252, 252, 252)">{{ user.name }}</h5>
        <h6 style="color: rgb(252, 252, 252)">{{ user.age }}</h6>
      </div>
    </div>
  </div>
</div>
